body {
    background: url("../img/frances-gunn-57423.jpg") no-repeat;
    background-size: cover;
    font-family: 'Fira Mono', monospace;
}

.main {
    background-color: #3E3F3B;
    color: #fff;
    font-family: 'Merriweather', serif;
}

.project {
    min-height: 350px;
}

footer {
    margin-top: 30px;
}

.bio-well {
    width: 63%;
}

.bio {
    font-size: 16px;
    color: #fff;
}

.bio-title {
    color: #fff;
}


#title {
    font-size: 14px;
    color: #3F403B;
}

/*contact form*/
fieldset {
    padding: 0px 15px 0px 0px;
}

.about-section {
    margin: 50px auto;
    background-color: #3E3F3B;
}

#headshot {
    width: 340px;
    height: 330px;
}

#headshot img {
    width: 100%;
    height: auto;

}

#about-pic {
    border-radius: 5px;
}

.contact-section {
    background-color: #3E3F3B;
    color: #fff;
    font-size: 16px;
}