body {
    background-image: url("../img/frances-gunn-57423.jpg");
}

#headshot {
    width: 311px;
    height: 386px;
}

#headshot img {
    width: 100%;
    height: auto;
}

#about-pic {
    border-radius: 5px;
}

footer {
    margin-top: 30px;
}

.bio-well {
    width: 63%;
}

.bio {
    font-size: 16px;
}

.main {
    width: 63%;
}

/*contact form*/
fieldset {
    padding: 0px 15px 0px 0px;
}
