<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About Me</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Will Bruce</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="/about">About Me</a></li>
                <li><a class="nav-link" href="/contact">Contact</a></li>
            </ul>

        </div>
    </nav>

    <div id="headshot" class="container">
        <img id="about-pic" src="/assets/img/20171011_TIY_Headshots_10512.jpg" alt="Pic of Will"/>
    </div>


    <div class="container well bio-well">
        <h2 class="text-center">About Me</h2>
        <p class="text-center bio">My name is Will Bruce. I live in Greenville, SC and I recently made a career change to the exciting world of web development.
            I have found this field to be extremely rewarding as it channels my creativity to solve problems and has allowed me to build some cool projects along the way.
            Upon completion of my time at The Iron Yard I hope to find a junior developer position that enables me to work with different technologies and to build transferable skills for the future.
            In my free time I enjoy grilling out, exploring the outdoors, fishing, and watching Clemson Football.
        </p>

    </div>

    <footer>
        <div  class="text-center center-block">
            <br />
            <a href="https://www.linkedin.com/in/william-m-bruce-b49b9021/"><i id="social-link" class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="https://github.com/wbrucesc"><i id="social-gh" class="fa fa-github fa-3x social"></i></a>

            <a href="mailto:wmbruce2013@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <small class="text-center"><p>Template provided by Bootswatch</p></small>
    </footer>

</body>
</html>